<a routerLink="/">Home</a>
<a routerLink="login">Login</a>
<h4 class="text-center">Cadastro: </h4>

<form class="form mt-4" [formGroup]="newUserForm" (Submit)="register()">

  <div class="form-group">
    <input type="email" placeholder="seu melhor email" class="form-control" formControlName="email" >
    <app-mensagem *ngIf="newUserForm.get('email')?.errors?.['required'] && newUserForm.get('email')?.touched" mensagem="Email obrigatório"></app-mensagem>
    <app-mensagem *ngIf="newUserForm.get('email')?.errors?.['email'] && newUserForm.get('email')?.touched" mensagem="Email no formato incorreto"></app-mensagem>
  </div>

  <div class="form-group">
    <input type="text" placeholder="Nome Completo" class="form-control" formControlName="fullName" required>
    <app-mensagem *ngIf="newUserForm.get('fullName')?.errors && newUserForm.get('fullName')?.touched" mensagem="Nome incorreto"></app-mensagem>
  </div>

  <div class="form-group">
    <input type="text" placeholder="Nome de Usuário" class="form-control" formControlName="userName" required>
   <app-mensagem *ngIf="newUserForm.get('userName')?.errors?.['lower'] && newUserForm.get('userName')?.touched" mensagem="Nome de usuário não pode ser em Maiusculo"></app-mensagem>
   <app-mensagem *ngIf="newUserForm.get('userName')?.errors?.['usuarioExistente']" mensagem="nome de Usuário já existe"></app-mensagem>
  </div>

  <div class="form-group">
    <input type="password" placeholder="sua senha" class="form-control" formControlName="password">
    <app-mensagem *ngIf="newUserForm.errors?.['senhaIgualUsuario']" mensagem="Senha deve ser diferente do nome de Usuário"></app-mensagem>
  </div>

  <button class="btn btn-primary btn-block">Registre-se</button>

</form>
<p>Já está cadastrado? <a routerLink="">Login</a></p>
